
Documents/*
Documents
Downloads
Downloads/*
snap
snap*
Desktop
Desktop/*
flask-blog/__pycache__
flask-blog/__pycache__/*
flask-blog/sandbox
flask-blog/sandbox/*
flask-blog/*.sqlite
flask-blog/migrations
flask-blog/migrations/*
flasky/app/__pycache__
flasky/sandbox
flask-mega/__pycache__/
flask-mega/__pycache__/*
flask-mega/flask
flask-mega/flask/*
flask-mega/migrations
flask-mega/migrations/*
