<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scholarship Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('home.home') }}">🏠 Home</a>
            <a href="{{ url_for('events.calendar_view') }}">📅 Calendar</a>
            <a href="{{ url_for('blog.blog_list_view') }}">📰 Blog</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">🚪 Logout ({{ current_user.name }})</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}">🔑 Login</a>
            {% endif %}
        </nav>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>

</html>